<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"></head>

<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div th:replace="admin/fragments/sidebar::sidebar"></div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<!-- Header -->
			<div th:replace="admin/fragments/header :: header"></div>
			<!-- End Header -->

			<div class="container" style="background-color: #fafcff;">
				<div class="page-inner">

					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h3 class="fw-bold mb-3">Quản Lý Nhân Viên Kho</h3>
							<h6 class="op-7 mb-2">Danh sách nhân viên kho</h6>
						</div>
						<!-- Nút Thêm nhan viên kho -->
						<div>
							<a class="btn btn-primary" th:href="@{/admin/warehouse-staff/add}">
								<i class="fas fa-plus"></i> Thêm Nhân Viên Kho
							</a>
						</div>
					</div>

					<!-- Hiển thị thông báo -->
					<div th:if="${error != null}" class="alert alert-danger" role="alert">
						<i class="fas fa-exclamation-circle"></i> <span th:text="${error}"></span>
					</div>
					<div th:if="${success != null}" class="alert alert-success" role="alert">
						<i class="fas fa-check-circle"></i> <span th:text="${success}"></span>
					</div>

					<!-- Bảng danh sách nhan viên kho -->
					<table class="table table-bordered table-hover">
						<thead class="thead-dark">
							<tr>
								<th style="text-align: center;">STT</th>
								<th style="text-align: center;">Tên người dùng</th>
								<th style="text-align: center;">Họ tên</th>
								<th style="text-align: center;">Email</th>
								<th style="text-align: center;">Số điện thoại</th>
								<th style="text-align: center;">Thao tác</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="nv, iterStat  : ${warehouseStaff}">
								<td style="text-align: center;" th:text="${iterStat.count}"></td>
								<td style="text-align: center;" th:text="${nv.tenNguoiDung}"></td>
								<td style="text-align: center;" th:text="${nv.hoTen}"></td>
								<td style="text-align: center;" th:text="${nv.email}"></td>
								<td style="text-align: center;" th:text="${nv.soDienThoai}"></td>
								<td style="text-align: center;">
									<a th:href="@{/admin/warehouse-staff/edit/{id}(id=${nv.maNguoiDung})}"
										class="btn btn-warning">Sửa</a>
									<a th:href="@{/admin/warehouse-staff/delete/{id}(id=${nv.maNguoiDung})}"
										class="btn btn-danger">Xóa</a>
								</td>
							</tr>

						</tbody>

					</table>
					<!-- Kết thúc bảng danh sách nhan viên kho -->

				</div>
			</div>

			<!-- Footer -->
			<div th:replace="admin/fragments/footer::footer"></div>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Core JS Files -->
	<div th:replace="admin/fragments/script::script"></div>
	<!-- End JS -->
</body>

</html>