<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head::head">
    <title>Chỉnh sửa danh mục</title>
</head>

<body>
    <div class="wrapper">
        <div th:replace="admin/fragments/sidebar::sidebar"></div>
        <div class="main-panel">
            <div th:replace="admin/fragments/header::header"></div>
            <div class="container" style="background-color: #faeee7;">
                <div class="page-inner">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="fw-bold mb-3">Chi Tiết Đơn Nhập Hàng</h3>

                            <!-- Hiển thị thông tin đơn nhập hàng -->
                            <p>Mã đơn nhập: <span th:text="${donNhapHang.maDonNhapHang}"></span></p>
                            <p>Ngày nhập: <span th:text="${donNhapHang.ngayNhapHang}"></span></p>
                            <p>Nhà cung cấp: <span th:text="${donNhapHang.nhaCungCap.tenNhaCungCap}"></span></p>

                            <!-- Bảng chi tiết đơn nhập hàng -->
                            <table class="table table-bordered">
                                <thead class="thead-dark" style="background-color: #ffc6c7; color: #333;">
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng nhập</th>
                                        <th>Đơn giá nhập</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="chiTiet : ${chiTietList}" th:if="${chiTiet.soLuongNhap > 0}">
                                        <td th:text="${chiTiet.sanPham.tenSanPham}"></td>
                                        <td th:text="${chiTiet.soLuongNhap}"></td>
                                        <td th:text="${chiTiet.donGiaNhap}"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Nút quay lại -->
                            <div>
                                <a href="/admin/purchaseorder" class="btn btn-secondary">Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="admin/fragments/footer::footer"></div>
        </div>
    </div>
    <div th:replace="admin/fragments/script::script"></div>
</body>

</html>
