<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"></head>

<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div th:replace="admin/fragments/sidebar::sidebar"></div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<!-- Header -->
			<div th:replace="admin/fragments/header :: header"></div>
			<!-- End Header -->

			<div class="container" style="background-color: #faeee7;">
				<div class="page-inner">

				
					<h2>Chỉnh sửa phí vận chuyển</h2>
					
					<form th:action="@{/admin/shipping-fee/update}" method="post" th:object="${config}">
						<input type="hidden" th:field="*{id}">
						<label>Khoảng giá đơn hàng:</label>
						<input type="number" th:field="*{minOrderValue}" placeholder="Từ" required>
						<input type="number" th:field="*{maxOrderValue}" placeholder="Đến" required>
						<label>Phí vận chuyển:</label>
						<input type="number" th:field="*{shippingFee}" step="0.01" required>
						<button type="submit">Lưu</button>
					</form>
					
					<br>
					<a th:href="@{/admin/shipping-fee}">Quay lại danh sách</a>

				</div>
			</div>

			<!-- Footer -->
			<div th:replace="admin/fragments/footer::footer"></div>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Core JS Files -->
	<div th:replace="admin/fragments/script::script"></div>
	<!-- End JS -->
</body>


</html>