<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{customer/fragments/head :: head}">

	<style>
		.brand-card img {
			width: 100%;
			height: 100px;
			object-fit: contain;
		}

		.brand-card {
			border: 1px solid #ddd;
			border-radius: 10px;
			padding: 10px;
			text-align: center;
			background: white;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.alphabet-group {
			margin-bottom: 30px;
		}

		.alphabet-title {
			font-size: 20px;
			font-weight: bold;
			color: #333;
		}
	</style>
</head>

<body>
	<header th:replace="~{customer/fragments/header :: header}"></header>
	<main style="padding: 200px; background-color: #f9f9f9;">
		<!-- Bảng chữ cái -->
		<div class="alphabet-bar" style="text-align: center; margin-bottom: 20px;border-bottom: 0.5px solid #ccc; ">
			<a th:each="letter : ${alphabet}" th:href="'#' + ${letter}"
				style="margin: 90px 10px; text-decoration: none; color: #333; font-weight: bold; font-size: 18px; "
				th:text="${letter}"></a>
		</div>

		<!-- Danh sách thương hiệu -->
		<section class="brand-list">
			<div th:each="entry : ${groupedBrands}">
				<div class="alphabet-group" th:attr="id=${entry.key}" style="padding-top: 170px; margin-top: -170px;">
					<h2 class="alphabet-title" th:text="${entry.key}"
						style="font-size: 24px; font-weight: bold; margin-bottom: 10px; border-bottom: 1px solid #ccc;"></h2>
					<div class="row" style="display: flex; flex-wrap: wrap; gap: 1px; margin: 0; padding: 0;">
						<div class="col-lg-2 col-md-3 col-sm-4" th:each="brand : ${entry.value}">
							<a th:href="@{'/brands/' + ${brand.maThuongHieu}}"
								style="text-decoration: none; color: inherit;">
								<div class="brand-card" style="text-align: center;margin: 0; padding: 0;">
									<img th:src="@{'/upload/' + ${brand.hinhAnh}}" alt="Thương hiệu"
										style="width: 100%; height: 150px; object-fit: cover; margin-bottom: 10px; border: 1px  #ddd; border-radius: 5px;">
									<p th:text="${brand.tenThuongHieu}"
										style="font-size: 14px; font-weight: bold; color: #333;"></p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="~{customer/fragments/footer :: footer}"></footer>
</body>


</html>