<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="sidebar" th:fragment="sidebar" style="background-color: #fae1e1;">
	<div class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" style="height: 110px; display: flex; justify-content: center; align-items: center;">
			<a th:href="@{/admin}" class="logo">
				<div style="text-align: center;">
					<img th:src="@{/assets/img/kaiadmin/logo_light.svg.png}" alt="navbar brand" class="navbar-brand"
						height="120" width="auto" style="margin-top: 15px;" />
				</div>

			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
				<li class="nav-item active">
					<a th:href="@{/admin}" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Trang Chủ</p>

					</a>

				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Các thành phần</h4>
				</li>

				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#collapseSanPham" aria-expanded="false" class="nav-link">
						<i class="fas fa-table"></i>
						<p> Quản Lý Sản Phẩm</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="collapseSanPham">
						<ul class="nav nav-collapse">
							<li class="nav-item">
								<a th:href="@{/admin/category}">

									<i class="fas fa-th-large"></i>
									<p>Danh mục sản phẩm</p>

								</a>

							</li>
							<li class="nav-item">
								<a th:href="@{/admin/brand}">

									<i class="fas fa-th-large"></i>
									<p>Thương Hiệu</p>

								</a>

							</li>

							<li class="nav-item">
								<a th:href="@{/admin/unit}">
									<i class="fas fa-balance-scale"></i>
									<p>Đơn vị</p>

								</a>

							</li>
							<li class="nav-item">
								<a th:href="@{/admin/product}">
									<i class="fas fa-box"></i>
									<p>Sản Phẩm</p>

								</a>

							</li>
							<li class="nav-item">
								<a th:href="@{/admin/promotion}">
									<i class="fas fa-tags"></i>
									<p>Khuyến Mãi</p>

								</a>

							</li>
						</ul>
					</div>
				</li>



				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#collapseNhapHang" aria-expanded="false" class="nav-link">
						<i class="fas fa-warehouse"></i>
						<p> Quản Lý Nhập Hàng</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="collapseNhapHang">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/supplier}">
									<i class="fas fa-user-tie"></i>
									<p>Nhà cung cấp</p>

								</a>
							</li>
							<li>
								<a th:href="@{/admin/purchaseorder}">
									<i class="fas fa-file-invoice"></i>

									<p>Đơn nhập hàng</p>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<li class="nav-item">
					<a data-bs-toggle="collapse" th:href="@{#maps}">
						<i class="fas fa-truck"></i>
						<p>Quản lý đơn hàng</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="maps">
						<ul class="nav nav-collapse">
							<li>
								<!--<a th:href="@{/maps/googlemaps.html}">
									<span class="sub-item">Google Maps</span>
								</a>-->
								<a th:href="@{/admin/orders}">
									<i class="fas fa-box"></i>
									<p>Đơn hàng</p>
								</a>

							</li>
							<!--<li>
								<a th:href="@{/maps/jsvectormap.html}">
									<span class="sub-item">Jsvectormap</span>
								</a>
							</li>-->
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-bs-toggle="collapse" th:href="@{#danhgia}">
						<i class="fas fa-file-invoice"></i>
						<p>Quản lý hóa đơn</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="danhgia">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/hoadon}">
									<i class="fas fa-file-invoice"></i>
									<p>Danh sách hóa đơn</p>
								</a>
							</li>

						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#charts">
						<i class="fas fa-comment-dots"></i>
						<p>Quản lý đánh giá</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="charts">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/danhgia}">
									<i class="fas fa-star"></i>
									<p>Danh sách các đánh giá</p>

								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#khachhang">
						<i class="far fa-user"></i> <!-- Đổi icon nếu cần thiết -->
						<p>Khách Hàng</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="khachhang">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/loai-khach-hang}">
									<i class="fas fa-users"></i>
									<p>Danh sách loại khách hàng</p>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a th:href="@{/admin/shipper}" class="nav-link">
						<i class="fas fa-shipping-fast"></i>
						<p>Quản lý Shipper</p>
					</a>
				</li>







			</ul>
		</div>
	</div>

</div>