<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="sidebar" th:fragment="sidebar" style="background-color: #ffc6c7;">
	<div class="sidebar-logo">
		<!-- Logo Header -->
		<div class="logo-header" style="height: 110px; display: flex; justify-content: center; align-items: center;">
			<a th:href="@{/admin}" class="logo">
				<div style="text-align: center;">
					<img th:src="@{/assets/img/kaiadmin/logo_light.svg.png}" alt="navbar brand" class="navbar-brand"
						height="120" width="auto" style="margin-top: 15px;" />
				</div>

			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
		<!-- End Logo Header -->
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
				<li class="nav-item active">
					<a th:href="@{/admin}" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Trang Chủ</p>

					</a>

				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Các thành phần</h4>
				</li>

				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#collapseSanPham" aria-expanded="false" class="nav-link">
						<i class="fas fa-table"></i>
						<p> Quản Lý Sản Phẩm</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="collapseSanPham">
						<ul class="nav nav-collapse">
							<li class="nav-item">
								<a th:href="@{/admin/category}">

									<i class="fas fa-layer-group"></i>
									<p>Danh mục sản phẩm</p>

								</a>

							</li>
							
							<li class="nav-item">
								<a th:href="@{/admin/unit}">
									<i class="fa fa-cubes"></i>
									<p>Đơn vị</p>

								</a>

							</li>
							<li class="nav-item">
								<a th:href="@{/admin/product}">
									<i class="fas fa-th-list"></i>
									<p>Sản Phẩm</p>

								</a>

							</li>
							<li class="nav-item">
								<a th:href="@{/admin/promotion}">
									<i class="fa fa-cubes"></i>
									<p>Khuyến Mãi</p>

								</a>

							</li>
						</ul>
					</div>
				</li>








				<!--<li class="nav-item">
					<a th:href="@{/admin/category}">

						<i class="fas fa-layer-group"></i>
						<p>Danh mục sản phẩm</p>

					</a>

				</li>
				<li class="nav-item">
					<a th:href="@{/admin/product}">
						<i class="fas fa-th-list"></i>
						<p>Sản Phẩm</p>

					</a>

				</li>
				<li class="nav-item">
					<a th:href="@{/admin/unit}">
						<i class="fa fa-cubes"></i>
						<p>Đơn vị</p>

					</a>

				</li> -->
				<li class="nav-item">
					<a data-bs-toggle="collapse" href="#collapseNhapHang" aria-expanded="false" class="nav-link">
						<i class="fas fa-table"></i>
						<p> Quản Lý Nhập Hàng</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="collapseNhapHang">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/supplier}">
									<span class="sub-item">Nhà cung cấp</span>
								</a>
							</li>
							<li>
								<a th:href="@{/admin/purchaseorder}">
									<span class="sub-item">Đơn nhập hàng</span>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<li class="nav-item">
					<a data-bs-toggle="collapse" th:href="@{#maps}">
						<i class="fas fa-map-marker-alt"></i>
						<p>Quản lý đơn hàng</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="maps">
						<ul class="nav nav-collapse">
							<li>
								<!--<a th:href="@{/maps/googlemaps.html}">
									<span class="sub-item">Google Maps</span>
								</a>-->
								<a th:href="@{/admin/orders}">
									<span class="sub-item">Đơn hàng</span>
								</a>
								
							</li>
							<!--<li>
								<a th:href="@{/maps/jsvectormap.html}">
									<span class="sub-item">Jsvectormap</span>
								</a>
							</li>-->
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-bs-toggle="collapse" th:href="@{#charts}">
						<i class="far fa-chart-bar"></i>
						<p>Quản lý hóa đơn</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="charts">
						<ul class="nav nav-collapse">
							<li>
								<a th:href="@{/admin/hoadon}">
									<span class="sub-item">Danh sách hóa đơn</span>
								</a>
							</li>
							
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a th:href="@{/widgets.html}">
						<i class="fas fa-desktop"></i>
						<p>Widgets</p>
						<span class="badge badge-success">4</span>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{../../documentation/index.html}">
						<i class="fas fa-file"></i>
						<p>Documentation</p>
						<span class="badge badge-secondary">1</span>
					</a>
				</li>
				<li class="nav-item">
					<a data-bs-toggle="collapse" th:href="@{#submenu}">
						<i class="fas fa-bars"></i>
						<p>Menu Levels</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="submenu">
						<ul class="nav nav-collapse">
							<li>
								<a data-bs-toggle="collapse" th:href="@{#subnav1}">
									<span class="sub-item">Level 1</span>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="subnav1">
									<ul class="nav nav-collapse subnav">
										<li>
											<a th:href="@{#}">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
										<li>
											<a th:href="@{#}">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a data-bs-toggle="collapse" th:href="@{#subnav2}">
									<span class="sub-item">Level 1</span>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="subnav2">
									<ul class="nav nav-collapse subnav">
										<li>
											<a th:href="@{#}">
												<span class="sub-item">Level 2</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a th:href="@{#}">
									<span class="sub-item">Level 1</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>