<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head::head">
	<title>Chỉnh sửa tên đơn vị</title>
</head>

<body>
	<div class="wrapper">
		<div th:replace="admin/fragments/sidebar::sidebar"></div>
		<div class="main-panel">
			<div th:replace="admin/fragments/header::header"></div>
			<div class="container" style="background-color: #fafcff;">
				<div class="page-inner">
					<div class="d-flex justify-content-between align-items-center" 
					style="
						margin-left: 300px;
						align-items: center; 
						max-width: 600px; 
						margin-top: 0px; 
						background-color: #ffffff; 
						border-radius: 12px; padding: 30px; 
						box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);"
					>
						<div>
							<h3 class="fw-bold mb-3">Chỉnh sửa tên đơn vị</h3>
							<!-- Hiển thị thông báo lỗi nếu có -->
							<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert"
								style="padding-right: 50px; position: relative;">
								<strong>Lỗi!</strong> <span th:text="${error}"></span>
							</div>

							<!-- Form chỉnh sửa đơn vị tính -->
							<form th:action="@{/admin/edit-unit/{id}(id=${donViTinh.maDonVi})}" th:object="${donViTinh}"
								method="post">
								<input type="hidden" th:field="*{maDonVi}" />
								<div class="form-group">
									<label for="tenDonVi">Tên đơn vị tính:</label>
									<input type="text" th:field="*{tenDonVi}" class="form-control"
										placeholder="Nhập tên đơn vị tính">
								</div>
								<button type="submit" class="btn btn-success">Cập nhật</button>
								<a href="/admin/unit" class="btn btn-secondary">Hủy</a>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div th:replace="admin/fragments/footer::footer"></div>
		</div>
	</div>
	<div th:replace="admin/fragments/script::script"></div>
</body>

</html>