<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"></head>

<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div th:replace="admin/fragments/sidebar::sidebar"></div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<!-- Header -->
			<div th:replace="admin/fragments/header :: header"></div>
			<!-- End Header -->

			<div class="container" style="background-color: #faeee7;">
				<div class="page-inner">

					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h3 class="fw-bold mb-3">Quản lý đơn vị</h3>
							<h6 class="op-7 mb-2">Danh sách các đơn vị</h6>
						</div>
						<!-- Nút Thêm sản phẩm -->
						<div>
							<a th:href="@{/admin/add-unit}" class="btn btn-success btn-lg"
								style="background-color: #28a745;">
								Thêm đơn vị
							</a>
						</div>
					</div>

					<!-- Table hiển thị danh sách các đơn vị tính -->
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped table-hover">
								<thead class="thead-dark" style="background-color: #ffc6c7; color: #333;">
									<tr>
										<th style="text-align: center;">Stt</th>

										<th style="text-align: center;">Tên Đơn Vị</th>
										<th style="text-align: center;">Hành động</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${listDonViTinh.isEmpty()}">
										<td colspan="8" class="text-center">Không có đơn vị nào được tìm thấy</td>
									</tr>
									<tr th:each="donViTinh, iterStat : ${listDonViTinh}">
										<td style="text-align: center;"
											th:text="${(currentPage * size) + iterStat.count}"></td>
										<td style="text-align: center;" th:text="${donViTinh.tenDonVi}"></td>
										<td style="text-align: center;">
											<!--<a th:href="@{/admin/edit-unit/{id}(id=${donViTinh.maDonVi})}"
												class="btn btn-warning btn-sm"><i class="fas fa-edit">
												Sửa</a>-->



											<a th:href="@{/admin/edit-unit/{id}(id=${donViTinh.maDonVi})}"
												class="btn btn-warning btn-sm">
												<i class="fas fa-edit"></i> Sửa
											</a>


										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Phân trang -->
					<!-- Kiểm tra nếu có sản phẩm và tổng số trang lớn hơn 0 thì hiển thị phân trang -->
					<div th:if="${totalPages > 0}">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<!-- Nút mũi tên trái (trước) -->
								<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
									<a class="page-link"
										th:href="${keyword != null and keyword != ''} ? @{/admin/unit(page=${currentPage - 1}, keyword=${keyword})} : @{/admin/unit(page=${currentPage - 1})}"
										aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>

								<!-- Hiển thị các số trang -->
								<li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									th:classappend="${i == currentPage} ? 'active'">
									<a class="page-link"
										th:href="${keyword != null and keyword != ''} ? @{/admin/unit(page=${i}, keyword=${keyword})} : @{/admin/unit(page=${i})}"
										th:text="${i + 1}"></a>
								</li>

								<!-- Nút mũi tên phải (sau) -->
								<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
									<a class="page-link"
										th:href="${keyword != null and keyword != ''} ? @{/admin/unit(page=${currentPage + 1}, keyword=${keyword})} : @{/admin/unit(page=${currentPage + 1})}"
										aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>


					</div>

					<!-- Kết thúc phân trang -->

				</div>
			</div>

			<!-- Footer -->
			<div th:replace="admin/fragments/footer::footer"></div>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Core JS Files -->
	<div th:replace="admin/fragments/script::script"></div>
	<!-- End JS -->
</body>

</html>